@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* optional */
html {
  color-scheme: light dark;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}